:root {
  --secondary-color: #919191;
}
.Search h1 {
  color: rgb(218, 0, 131);
}
.Search h3 {
  margin: 15px 0;
}
.Search .SearchBox {
  border: 1px solid rgb(32, 32, 32);
  border-radius: 4px;
}
.Search .SearchBox:focus {
  outline: 2px solid rgba(1, 193, 219, 0.904);
  border: 1px solid white;
  border-radius: 7px;
  background-color: rgb(235, 230, 230);
}
.Search .SearchButton {
  color: white;
  background-color: rgb(255, 127, 204);
  border: 1px solid rgb(215, 0, 72);
  border-radius: 4px;
}
.Search .SearchButton:hover {
  background-color: rgb(231, 86, 173);
}
.Search div.Search {
  text-align: center;
}
.Search .Loading {
  text-align: center;
  margin: 35px 0;
}
